.about {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  z-index: 3;
}
.about .about-content {
  margin-bottom: 100px;
}
.about .about-content-title {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
.about .paragraf {
  font-size: 1.1rem;
  color: #666;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}
.about .skils-title {
  font-weight: 700;
}
.about .v-title {
  font-weight: 700;
  color: var(--primaryColor);
}
.about .skils {
  display: flex;
  flex-wrap: wrap;
}
.about .skils .skills__skill {
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.1rem;
  background: var(--primaryColor);
  color: white;
  border-radius: 5px;
  font-weight: 600;
  opacity: 0.7;
  cursor: pointer;
}
.about .highlight {
  transition: all 1.3s;
  color: var(--primaryColor);
  font-size: 1.4rem;
}