


.about{//ABOUT PAGE
    width: 100%;
    height:auto;
    background-color: #fafafa;
    z-index: 3;
 // -------------------------- -----------------------------------------------------------------------------
    .about-content {
       margin-bottom: 100px;        
     }//about__content

     //  -----------------------------------------------------------------------------
     .about-content-title{
        font-weight: 700;
        font-size: 1.6rem;
         margin-bottom: 3rem;

     }//Hakkımda Başlık
     .paragraf{
        font-size: 1.1rem;
        color: #666;
        max-width: 60rem;
        line-height: 1.7;
        margin-bottom: 1rem;
    }
    .skils-title{
    
        font-weight: 700;
    }
    .v-title{
        font-weight: 700;
        color: var(--primaryColor);
    }

    .skils{
        display: flex;
    flex-wrap: wrap;
    .skills__skill {
        padding: 0.5rem 1rem;
        margin-bottom: 1.5rem;
        margin-right: 1.5rem;
        font-size: 1.1rem;
        background: var(--primaryColor);
        color: white;
        border-radius: 5px;
        font-weight: 600;
         opacity: 0.7;
        cursor: pointer;
    }

    }
      .highlight{
        transition: all 1.3s;
        color:var(--primaryColor);
        font-size: 1.4rem;  
      }


} //ABOUT PAGE