* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primaryColor: #0071f3;
    --secondaryColor: orange;
}

body {
    background-color: gray;
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Sans Pro', sans-serif;
}

.index-content {
    display: flex;
    flex-direction: column;
}

.btns--bg {
    padding: 1.5rem 8rem;
    font-size: 2rem;
    padding: 1.2rem 7rem;
    font-size: 1.5rem;
}

.btns--md {
    font-size: 1rem;
    padding: 0.7rem 3rem;
    margin-top: 20px;
}

.btns {
    background: var(--primaryColor);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform .3s;
    margin-bottom: 200px;
    border: none;
    text-decoration: none;

}


/* SAYFA BAŞLIKLARI */
.heading-content {
    margin-bottom: 9rem;

}

.heading-sec-sub {
    display: block;
    text-align: center;
    color: #555;
    font-size: 1.1rem;
    font-weight: 500;
    max-width: 40rem;
    margin: auto;
    line-height: 1.6;
}

.title {
    display: block;
    font-size: 2.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #111;
    margin-top: 180px;
}

/* baslik vurgu */
.title::After {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: var(--secondaryColor);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}